<div class="card shadow">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 [ngClass]="{'strike': !todo.active}" class="text-white">{{todo.title}}</h5>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)"
          [checked]="!todo.active">
        <label class="form-check-label" for="exampleCheck1"></label>
      </div>
    </div>

    <p [ngClass]="{'strike': !todo.active}" class="desc">{{todo.desc}}</p>

    <div class=" d-flex justify-content-end">
      <button class="btn btn-sm btn-danger" (click)="onClick(todo)"><i class="fa fa-trash" aria-hidden="true"></i>
        Delete</button>
    </div>
  </div>
</div>